<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite >
<suite name="Suite">
 <Listeners>
  <Listener class-name ="com.Mycard.Utilities.ExtendsListenerClass" ></Listener>
 </Listeners>
  <test thread-count="5" name="Test">
    <classes>
     <!--  <class name="com.Mycard.TestClass.LoginTestClass"/>   -->
      <class name="com.Mycard.TestClass.LoginTestClassDataDriver"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
